.LeftZoonTop {
  background-image: url("/img/main/main_menu3/anderson_style_sns_logo.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: solid 5px #fd997e;
  border-radius: 0.5rem;
}
.LeftZoonBottom {
  grid-row: 2/4;
  grid-column: 1;
}
.snsMain {
  /* 왼쪽  하단 이미지*/
  width: 24vw;
  height: auto;
}
.LeftZoonBottomText {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.menuNo3AndersonStyleSnsLeftTitle {
  font-size: 2.5rem;
  text-align: center;
  color: #fd997e;
}

.AndersonStyleSnsUploadeText {
  margin: 0;
  padding-left: 10rem;
  color: #fd997e;
  font-size: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.menuNo3AndersonStyleSearchZoon {
  text-align: center;
  padding-top: 2rem;
}
.menuNo3AndersonStyleSearchBox {
  width: 50vw;
  height: 5vh;
}
.menuNo3AndersonStyleSubmitBox {
  width: 5vw;
  height: 5vh;
}

.RightZoonMiddle {
  border: solid 5px #fd997e;
  padding-top: 5rem;
  border-radius: 0.5rem;
}
.RightZoonBottom {
  display: flex;
  flex-flow: row nowrap;
}
.RightZoonBottomSnsImageContent:nth-child(1) {
  margin: 1rem 0rem;
  padding: 1rem 1rem;
  flex: 3;
  border-radius: 1rem;
  border: solid 5px #fd997e;
}
.AndersonStyleSnsPictureContentExplore {
  font-size: 2.5rem;
}
.AndersonStyleSnsPictureContentExploreDescription {
  font-size: 1.3rem;
}
.RightZoonBottomSnsImageContent:nth-child(2) {
  margin: 1rem 0rem;
  margin-top: 1rem;
  margin-left: 1rem;
  padding: 1rem 1rem;
  border-radius: 1rem;
  border: solid 5px #fd997e;
  flex: 1.6;
}
.AndersonStyleSnsPictureHashTag {
  font-size: 1.5rem;
}
.readmorebutton {
  text-align: center;
}
.AndersonStyleSnsReadmoreButton {
  width: 15vw;
}
/* 슬라이더 */

.SnsSlideWrapper {
  position: relative;
  width: 990px;
  margin: 0 auto;
  height: 310px;
  overflow: hidden;
}
.SnsSlides {
  /* 슬라이드 리스트를 담은 ul 태그 */
  position: absolute;
  left: 0;
  top: 0;
  transition: left 0.5s ease-out;
}
.SnsSlides li:not(:last-child) {
  list-style: none;
  margin-right: 30px;
  float: left;
}
.SnsSlidePicture {
  width: 300px;
  height: 300px;
  border: 5px solid #fd997e;
  border-radius: 3rem;
}
.controls {
  text-align: center;
  margin-top: 30px;
}
.controls span {
  top: 0;
  padding: 10px 20px;
  margin: 10px 30px;
  transform: translateY(-50%);
  background-color: #fd997e;
  border-radius: 1rem;
}
